<%= stylesheet_link_tag    "concerto_content_scheduling/application", media: "all" %>
<%= javascript_include_tag "concerto_content_scheduling/application" %>

<% 
  rules = []
  if !@content.schedule_info.blank? and @content.schedule_info.has_key?('criteria') and
    !@content.schedule_info['criteria'].blank? and @content.schedule_info['criteria'] != "null"
    rules << RecurringSelect.dirty_hash_to_rule(@content.schedule_info['criteria'])
  end
%>

<fieldset>
  <legend><span><%=t('.schedule')%></span></legend>
  <%= form.fields_for :schedule_info do |schedule| %>
    <div class="row-fluid">
      <div class="span6">
        <%= schedule.label :criteria, t('.frequency') %>
        <%= schedule.select_recurring :criteria, rules %>
      </div>
    </div>

    <br />

    <div class="row-fluid">
      <div class="span3">
        <div class="clearfix datetime">
          <%= schedule.label :start_time, t('.from_time')%>
          <div class="input">
            <div class="input-prepend">
              <span class="add-on"><%= t(:at) %></span>
              <%= schedule.text_field :start_time, :maxlength => 20, :value => @content.schedule_info['start_time'], :class => "timefield input-small" %>
            </div>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="clearfix datetime">
          <%= schedule.label :end_time, t('.until_time')%>
          <div class="input">
            <div class="input-prepend">
              <span class="add-on"><%=t(:at)%></span>
              <%= schedule.text_field :end_time, :value => @content.schedule_info['end_time'], :maxlength => 20, :class => "timefield input-small" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
</fieldset>