<%= stylesheet_link_tag    "concerto_content_scheduling/application", media: "all" %>
<%= javascript_include_tag "concerto_content_scheduling/application" %>

<fieldset>

  <legend><span><%=t('.schedule')%></span></legend>
  <%= form.fields_for :schedule do |schedule| %>
    <div class="row-fluid">
      <div class="span6">
        <%= schedule.label :criteria, t('.frequency') %>
        <%= schedule.select_recurring :criteria %>
      </div>
    </div>

    <br />

    <div class="row-fluid">
      <div class="span3">
        <div class="clearfix datetime">
          <%= schedule.label :start_time, t('.from_time')%>
          <div class="input">
            <div class="input-prepend">
              <span class="add-on"><%= t(:at) %></span>
              <%= schedule.text_field :start_time, :maxlength => 20, :class => "timefield input-small" %>
            </div>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="clearfix datetime">
          <%= schedule.label :end_time, t('.until_time')%>
          <div class="input">
            <div class="input-prepend">
              <span class="add-on"><%=t(:at)%></span>
              <%= schedule.text_field :end_time, :value => ConcertoConfig[:content_default_end_time], :maxlength => 20, :class => "timefield input-small" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
</fieldset>